* {
    box-sizing: border-box;
    font-family: 'Audiowide', sans-serif;
    margin: 0;
    padding: 0;
    user-select: none;
}
body {
    background-color: #333;
    height: 100vh;
    overflow: hidden;
}
nav {
    align-items: center;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    padding-block: 1rem;
}
.modal-close {
    font-size: 2.5rem;
}
#modal-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 1rem;
}
#modal-refresh-button,
#modal-check-button,
#leaderboard-body {
    font-size: 1.5rem;
}
#history-title {
    color: black;
    font-size: 3rem;
}
#user-container {
    background-color: white;
    height: 100vh;
    padding-left: 10rem;
    padding-right: 10rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

#login,
#logout,
#back {
    font-size: 2rem;
    width: 12rem;
    text-decoration: none;
    background-color: #555;
    border: 2px solid black;
    border-radius: 10px;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    text-align: center;
}
#login,
#back {
    color: white;
}
#logout {
    color: red;
}
#identity {
    color: white;
    font-size: 2rem;
    width: 12rem;
    text-decoration: underline;
}
#user-identity {
    color: white;
    font-size: 2rem;
    width: 12rem;
    text-decoration: none;
}

#logout:link,
#logout:visited {
    color: red;
    text-decoration: none;
}
.table-responsive {
    max-height: 80vh;
}
#login:link,
#login:visited,
#back:link,
#back:visited {
    color: white;
    text-decoration: none;
}

#identity:hover,
#login:hover,
#back:hover {
    color: rgb(0, 195, 255);
    cursor: pointer;
}
#logout:hover {
    color: rgb(255, 131, 131);
    cursor: pointer;
}

.timer {
    color: white;
    display: flex;
    font-size: 2.5rem;
    gap: 1rem;
}
.time {
    align-items: center;
    display: flex;
    gap: 1rem;
    justify-content: center;
    width: 18rem;
}
#subtract,
#add {
    align-items: center;
    background-color: #555;
    border: 2px solid black;
    cursor: pointer;
    display: flex;
    line-height: 1.7rem;
    padding: 0.3rem 0.5rem;
    transition: background 200ms;
    border-radius: 10px;
}
#subtract:hover,
#add:hover {
    background-color: #777;
}

#score {
    font-size: 1.5rem;
}
.score {
    color: white;
    font-size: 2.5rem;
    width: 10rem;
}

#game-container {
    background-color: white;
    height: 100vh;
}

.target {
    align-items: center;
    cursor: pointer;
    display: flex;
    justify-content: center;
    padding: 0 0.3rem;
    position: relative;
    width: 100px;
}
.target-img {
    height: 100px;
    width: 100px;
}
#button-container {
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 15px;
    bottom: 15vh;
}
#start-game {
    align-items: center;
    background-color: rgb(35, 175, 35);
    border-radius: 10px;
    color: white;
    cursor: pointer;
    font-size: 2rem;
    padding: 0.3rem 0.5rem;
    text-align: center;
}
#leaderboard-button {
    align-items: center;
    background-color: rgb(216, 146, 17);
    border-radius: 10px;
    color: white;
    cursor: pointer;
    font-size: 2rem;
    padding: 0.3rem 0.5rem;
    text-align: center;
}
#restart-game {
    animation: restart 500ms infinite alternate-reverse linear;
    background-color: orange;
    border-radius: 5px;
    bottom: 15vh;
    box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.6);
    color: white;
    cursor: pointer;
    font-size: 4rem;
    left: 50%;
    line-height: 3rem;
    padding: 0.3rem;
    position: absolute;
    transform: translate(-50%);
    transition: background 200ms ease;
}
#restart-game:hover {
    background-color: rgb(221, 146, 6);
}
.table {
    font-size: 1.5rem;
}
#history {
    color: black;
    font-size: 2rem;
}
.alert-text {
    font-size: 1.5rem;
}
@keyframes restart {
    from {
        scale: 1;
    }
    to {
        scale: 1.07;
    }
}

.center {
    align-items: center;
    display: flex;
    justify-content: center;
}
.disable {
    pointer-events: none;
}
.hide {
    display: none;
}

/** Media Queries */
@media only screen and (max-width: 730px) {
    #identity,
    #user-identity,
    #identity-div,
    #user-identity-div,
    #login,
    #logout,
    .timer,
    .score {
        font-size: 1.5rem;
    }
    .score {
        width: 8rem;
    }
    .time {
        width: 8rem;
    }
}
@media only screen and (max-width: 530px) {
    #identity,
    #user-identity,
    #identity-div,
    #user-identity-div,
    #login,
    #logout,
    .timer,
    .score {
        font-size: 1.2rem;
    }
    .score {
        width: 6rem;
    }
    .time {
        width: 6rem;
    }
}
